<html>
  <head>
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    <link rel="stylesheet" href="/css/output.css">
  </head>
  <body class="p-4">
    <div class="flex justify-between items-center mb-3">
      <div class="flex gap-2 items-baseline">
        <i class="las la-search text-4xl"></i>
        <span class="text-3xl font-light">Express Insight</span>
        {{#if configurationJson.projectName }}
          <span class="font-light"> - {{ configurationJson.projectName }}</span>
        {{/if}}
      </div>
      <div class="flex justify-end">
        <span class="monospace font-bold text-xs text-gray-800">Made with 💖 by saphalpdyl</span>
      </div>
    </div>

    <div class="grid lg:grid-cols-3 grid-cols-2">
      <div class="order-1"></div>
      <div class="order-3 lg:order-2"></div>
      <div class="border-gray-300 border-s-2 pl-2 order-2 lg:order-3">
        <span class="text-xl font-extralight block mb-2">Configuration</span>
        <pre class="font-bold text-sm">{{> objectRenderer config=configurationJson}}</pre>
      </div>
    </div>
  </body>
</html>