<div class="p-3 bg-gray-50 rounded-lg shadow-sm flex flex-col items-end">
  <span class="font-bold text-zinc-500 text-xs">{{ cardTitle }}</span>
  <span class="text-zinc-800 font-bold text-xl">{{ cardValue }} <span class="text-xs text-gray-400">{{ cardAfter }}</span></span>
</div>