<form class="flex gap-2 items-center font-bold my-2"></form>
  <label for="datetime_from">From</label>
  <input value="{{ query_datetimefrom }}" type="datetime-local" name="datetime_from" class="border-[1px] border-zinc-300 rounded-lg p-1">
  <label for="datetime_to">To</label>
  <input value="{{ query_datetimeto }}" type="datetime-local" name="datetime_to" class="border-[1px] border-zinc-300 rounded-lg p-1">
  <button type="submit" class="bg-blue-500 hover:bg-blue-600 rounded-md text-white font-bold px-4 py-1">Search</button>
</form>