{{#each configurationJson}}
{{#if (isObject this)}}
<span class="text-rose-500 rounded-lg p-[3px]">{{@key}}:</span>
    {{> objectRenderer configurationJson=this}}
{{else}}
<span class="text-rose-500 rounded-lg p-[3px]">{{@key}}:</span> <span class="text-blue-500">{{this}}</span>
{{/if}}
{{/each}}